/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif ;
}
body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #faecab;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
:root {
  --header-height: 48pt;
  --header-font-size: 12pt;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #7c4202;
  opacity: 50%;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7c4202;
  opacity: 50%;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #7c4202;
  opacity: 50%;
}

.row {
  display: flex;
}

.header {
  width: 100%;
  height: calc(var(--header-height) - 8pt);
  padding: 16pt 16pt 0 16pt;
  display: flex;
  z-index: 20;
  overflow: hidden;
  position: relative;
}
.header .hamburger {
  z-index: 25 !important;
}
.header .header-content {
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 20;
}
.header .row {
  align-items: center;
}
.header .user-settings {
  height: 24pt;
  position: absolute;
}
.header .user-settings div{
  margin: 0 8pt;
}
.header .user-settings .lang div {
  margin: 0 2pt;
}
.hamburger-button {
  margin-right: 8pt;
  width: var(--header-height); height: 100%;
  stroke: #7c4202; stroke-width: 18;
  stroke-linecap: round; cursor: pointer;
}
.header .header-search {
  width: 240pt; height: 100%;
  font-weight: 100;
  background: #fded90;
  border-radius: 12pt; overflow: hidden;
  font-size: var(--header-font-size);
  z-index: 25; justify-content: flex-end;
  transition: width 0.5s;
}
.header-search.inactive {
  width: 24pt;
}
.header-search input {
  color: #7c4202;
  padding: 0 10pt;
  font-size: 11pt;
  background: none;
  border: none;
}
.header-search input:focus {
  outline: none;
  background: none;
  border: none;
}
.header-search-outer {
  display: none;
}
.header-search-outer.active {
  display: initial;
}

@media screen and (min-width: 768px){
  .header .header-content {
    width: 50%;
  }
  .header .user-settings{
    position: unset;
  }
  .header-search.inactive {
    width: 240pt;
  }
}

.sidebar-outer {
  width: 100%; height: 100%;
  position: fixed;
  top: 0; left: 0;
  z-index: -1;
  backdrop-filter: blur(2px);
}
.sidebar-outer.active {
  z-index: 50;
}
.sidebar {
  width: 240pt; height: 100%;
  position: fixed; left: 0; z-index: 60;
  transform: translateX(-100%);
  transition: transform 0.3s;
  background: #7c4202;
  font-weight: 600;
}
.sidebar.active {
  transform: translateX(0);
}
.sidebar-header {
  height: 64pt;
  padding: 8pt 16pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-items-container {
  padding: 48pt 0;
}
.sidebar-items {
  width: 100%; height: 48pt;
  font-size: 14pt;
  color: rgba(253,236,144,80%);
  transition: color,background 0.2s;
}
.sidebar-items-container .sidebar-items:hover {
  color: rgba(253,236,144,100%);
}
.sidebar-items-container .sidebar-items.active {
  color: rgba(253,236,144,100%);
  border-left: solid 6pt #9aaf3e;
}
.sidebar-items-container a, .sidebar-footer a {
  width: 100%; height: 100%;
  padding: 0 16pt 0 48pt;
  text-align: center;
  display: flex;
  align-items: center;
  color: inherit;
}
.sidebar-footer a {
  justify-content: flex-end;
}     
.sidebar-footer {
  position: absolute;
  bottom: 0;
  background: #7c4202;
  font-size: 11pt;
  color: #fded90;
  border-top: dashed 1pt #fded90;
}
.sidebar .back-button {
  height: 18pt;
  fill: none;
  stroke: #fded90; stroke-width: 14;
  stroke-linecap: round;
  cursor: pointer;/*
  position: absolute; left: calc(100% - 12pt);
  transform: translateX(-100%);*/
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.small-icon {
  width: 20pt; height: 20pt;
  margin: 0 6pt;

}
.small-icon svg {
  height: 100%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.all-content{
  height: 100%;
  width: 100%;
}
.edukasi{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 5%;
}
.edukasi h1{
  font-size: 60px;
  font-weight: bold;
  color: #7c4202;
  text-shadow: 1px 1px 10px #efd870 ;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #efd870;
}
.image-content,
.card-content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
}
.image-content{
  padding: 5px;
}
.card-content{
  padding: 15px;
}

 .card-content h2{
    font-size: 15px;
    font-weight: bold;
    color: #7c4202;
    cursor: pointer;
    padding-bottom: 10px;
 }
  .card-content h2:hover{
    color: #c47a31;

 }
 .card-content p{
    font-size: 11px;
    color: #7c4202;
    padding-top: 3px;
 }

.image-content{
  height: auto;
  width: 100%;
  position: relative;
  row-gap: 5px;
}
/*.overlay{
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 25px 25px;
}*/

.card-image{
  position: relative;
  height: 200px;
  width: 100%;
  border-radius: 25px;
}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 4px solid #7c4202;
  border-radius: 25px;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  position: absolute;
  border: none;
  font-size: 16px;
  color: #efd870;
  padding: 8px 16px;
  background-color: #7c4202;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  top: 78%;

}

.button:hover{
  background: #c47a31;
}

.swiper-navBtn{
  color: #7c4202;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #c47a31;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #7c4202;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #c47a31;
}

#tanggal_berita{
  width: 100%;
  padding-bottom: 5px;
  font-size: 10px;
  font-weight: 600;
  color: #7c4202;

 }

 .share-content{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-top: 5%;
  cursor: pointer;
 }

 .share-content img{
  height: 20px ;
  width: 20px;
  padding: 0;
  margin-right:5px ;
 }

.share-content a{
  text-decoration: none;
}


 /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ RESPONSIVE WEB ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .edukasi{
    margin-top: 10% ;
  }
  .edukasi h1{
    font-size: 40px;
  }
}

@media screen and (max-width: 360px) {
  .edukasi{
    margin-top: 10% ;
  }
  .edukasi h1{
    font-size: 35px;
  }
}